/* TOPO */
.topbar {
    height: 60px;
    background: #ec3df8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .topbarLogo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .topbarNotification {
    font-size: 20px;
    cursor: pointer;
  }
  
  /* LAYOUT */
  .layout {
    display: flex;
    height: calc(100vh - 60px);
  }
  
  /* SIDEBAR */
  .sidebar {
    width: 220px;
    background: #f3f3f3;
    padding: 20px;
  }
  
  .sidebarItem {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .sidebarItem:hover {
    font-weight: bold;
  }
  
  /* CONTEÚDO */
  .content {
    flex: 1;
    background: #eee;
    padding: 30px;
    overflow-y: auto;
  }
  