.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

input, textarea {
  padding: 6px;
}

button {
  background: #ff00ff;
  color: white;
  border: none;
  padding: 8px;
}
